absl-py
dask
dill
joblib
matplotlib
numpy-indexed
pandas
pydoe
scikit-learn
simpy
sparselinear
threadpoolctl
tqdm
torch==2.8.0a0+gitba56102.rocm631
h5py
ipykernel
jupyterlab
markdown
markupsafe
notebook
numpy
pydot
pygments
scipy
silx
